body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-card {
  height: 100%;
  width: 60%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

#footer {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.show-palette-button {
  transition-duration: 0.4s;
  border-radius: 20px;
  background-color: white;
}

.show-palette-button:hover {
  background-color: black; /* Green */
  color: white;
}

.movie-text {
  padding-left: 1ch;
  width: 50%;
  margin-left: 15px;
}

.poster {
  border-radius: 5px 5px;
  height: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}

img {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 33, 56);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav {
  margin:0;
  padding: 8px 0px;
  padding-top: 11px;
  width: 100%;
  overflow: hidden;
}

.topnav a {
  padding: 14px 16px;
  text-decoration:none;
  text-transform:uppercase;
  float: left;
  color: rgb(0, 33, 56);
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.topnav a:hover {
  color: white; 
  background-color: rgb(0, 33, 56);
}


.filter-title {
  background-color:rgb(0, 33, 56);
  color: white;
  padding: 50px;
  margin-top: 0;
  margin-right: 0;
  text-transform:uppercase;
  font-size: 35px;
  font-weight:100;
}

.search-button {
  width: 25px;
  height: 25px;
  position: relative; 
  top: 5px;
  right: 40px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: rgb(0, 33, 56);
  border-radius: 5px;
  border-style: solid;
  border-width: 0.5px;
  width: 300px;
}

.search-container{
  float: right;
  margin-right: 15px;
  padding-bottom: 10px;
  font-size: 17px;
  border: none;
  display: inline;
  cursor: pointer;
}

h1 {
  text-align: center;
}

#photo-upload-container {
  height: 100%;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.upload-card {
  height: 100%;
  width: 60%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}